.signUpForm{
    width: 30rem;
    border: 2px solid #ccd4dc;
    padding: 2rem;
    border-radius: 20px;
    translate: 0 30%;
    max-width: 90%;
}

.signUpPage{
    width: 100vw;
    height: 100vh;
}