.verify-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.verify-container h1 {
  margin-bottom: 1rem;
}

.emailImg {
  height: 80px;
  margin-bottom: 2rem;
}

.mailbox {
  margin-bottom: 1rem;
}
